<!DOCTYPE html>

<html>

    <head>
        <link rel="icon" href="/images/lesno.gif"
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
        
    <body>
        {{>header}}
        <div style="text-align:center;">
            <img src="/images/VisLain.gif" style="height:600px;">   
        </div>
        {{>footer}}
     
    </body>
    
</html>