<!DOCTYPE html>

<html>
    <head>
        <link rel="icon" href="/images/lesno.gif"
        <title>Help</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        {{>header}}
        <p class='textHelpMessage center-items'>{{helpText}}</p>
        {{>footer}}
    </body>
</html>