<h1 class="text-color center-items ">{{title}}</h1>

<div class="flex-row">
    <a class="link-color" href="/">Weather </a>
    <a class="link-color" href="/about">About </a>
    <a class="link-color" href="/help">Help </a>
</div>


